<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MEET CAM</title>
    <!-- All CSS links ------------------------------------------------------- -->
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/forget_password.css">

    <!-- All JavaScript links and use DEFER----------------------------------- -->
    <script defer src="../js/forget_password.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>

<body>
    <div class="pop-up-message ">
        <div class="message-box " id="message-box">
            <h3></h3>
            <h4></h4>
            <p></p>
            <button id="message-box-btn">OK</button>
        </div>
    </div>

    <div class="main-container">
        <form action="/forget_password" method="post">
            <h2>Account Recovery</h2>
            <div class="input-box">
                <ion-icon name="mail-outline"></ion-icon>
                <input id="email" type="text" required>
                <label for="">Email</label>
            </div>
            <button id="submit-button">SUBMIT</button>
        </form>
    </div>
</body>

</html>