<link rel="stylesheet" href="css/signup.css">

<%- contentFor('script') %>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script defer src="js/signup.js"></script>

<%- contentFor('body') %>
<div class="pop-up-message ">
  <div class="message-box " id="message-box">
    <h3></h3>
    <h4></h4>
    <p></p>
    <button id="message-box-btn">OK</button>
  </div>
</div>
<form action="/login" method="post">
  <h2>Signup</h2>
  <div class="input-box">
    <ion-icon name="person-outline"></ion-icon>
    <input id="name" type="text" required>
    <label for="">Name</label>
  </div>
  <div class="input-box">
    <ion-icon name="call-outline"></ion-icon>
    <input id="phone-number" type="tel" required>
    <label for="">Phone No.</label>
  </div>
  <div class="input-box">
    <ion-icon name="mail-outline"></ion-icon>
    <input id="email" type="text" required>
    <label for="">Email</label>
  </div>
  <div class="input-box">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <input id="password" type="password" required>
    <label for="">Password</label>
  </div>
  <div class="input-box">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <input id="confirm-password" type="password" required>
    <label for="">Confirm password</label>
  </div>
  <button type="button" id="submit-button">Sign-up</button>
  <div class="register">
    <p>Already have an account? <a href="/login">Log-in</a></p>
  </div>
</form>