<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MEET CAM</title>

    <!-- Favicon Link -------------------------------------------------------- -->
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">

    <!-- All CSS links ------------------------------------------------------- -->
    <link rel="stylesheet" href="../css/verify_otp_verify_email.css">

    <!-- All JavaScript links and use DEFER----------------------------------- -->
    <script defer src="../js/verify_otp_verify_email.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>

<body>

    <div class="pop-up-message ">
        <div class="message-box " id="message-box">
            <h3></h3>
            <h4></h4>
            <p></p>
            <button id="message-box-btn">OK</button>
        </div>
    </div>
    <div class="main-container">
        <form action="verify_email" method="post">
            <h2>OTP Verification</h2>
            <section class="otp-expire-time">
                <h5>OTP will expire within:</h5>
                <h3 id="time-available">01 : 60</h3>
            </section>
            <section class="otp-input-section">
                <input type="text" class="input-field" data-position="1" maxlength="1" autocapitalize="off"
                    autocorrect="off">
                <input type="text" class="input-field" data-position="2" maxlength="1" autocapitalize="off"
                    autocorrect="off">
                <input type="text" class="input-field" data-position="3" maxlength="1" autocapitalize="off"
                    autocorrect="off">
                <input type="text" class="input-field" data-position="4" maxlength="1" autocapitalize="off"
                    autocorrect="off">
                <input type="text" class="input-field" data-position="5" maxlength="1" autocapitalize="off"
                    autocorrect="off">
                <input type="text" class="input-field" data-position="6" maxlength="1" autocapitalize="off"
                    autocorrect="off">
            </section>
            <a href="verify_email">Resend OTP</a>
            <button id="submit-button">SUBMIT</button>
        </form>
    </div>

</body>

</html>