@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  --heading-color: whitesmoke;
  --heading-font-size: min(3rem, 10.5cqi);
  --heading-font-weight: bold;
  --primary-font-color: #9f3333;
  --primary-font-weight: 700;
  --primary-font-family: serif;
  --primary-font-size: 1.1rem;
  --primary-border-radius: 1rem;
  --secondary-font-size: min(1.4rem, 3cqi);
  --secondary-font-weight: 500;
  --secondary-font-color: white;
}
/* Main Container ---------------------------------------------------------------------------------------------------------- */
.main-container {
  /* background-image: url("../image/base_background.jpg"); */
  background-image: url("https://ucarecdn.com/e670c9ac-e9ba-473f-924a-85ac4827297c/-/preview/938x432/-/quality/smart/-/format/auto/");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  width: 100%;
}
.sidebar,
.main {
  margin-block: 2.5dvh;
}
/* Sidebar ---------------------------------------------------------------------------------*/
.sidebar {
  box-shadow: 0.3rem 0.3rem 0.3rem black, 0.2rem 0.2rem 0.5rem black inset;
  height: 95dvh;
  position: absolute;
  left: 2.5%;
  width: 20%;
  backdrop-filter: blur(0.1rem);
  border-radius: var(--primary-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4%;
  background-color: #00000037;
  transform-origin: left;
  opacity: 1;
  transition: transform 0.1s ease-in;
}
.sidebar.sidebar-hidden {
  opacity: 0;
  transform: scaleX(0.01);
}
.sidebar > img {
  align-self: flex-end;
  margin-block: 4%;
  margin-right: max(2%, 0.5rem);
  width: min(3rem, 30%);
  aspect-ratio: 1;
  cursor: pointer;
  transition: transform 0.1s linear;
}
.sidebar > img:hover {
  transform: scale(1.3);
}
.sidebar > .sidebar-container {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  padding-block: 2%;
  gap: max(1rem, 5%);
  overflow: auto;
}
div.sidebar-container::-webkit-scrollbar {
  width: 1vw;
}
div.sidebar-container::-webkit-scrollbar-track {
  border-radius: var(--primary-border-radius);
  background: transparent;
}
div.sidebar-container::-webkit-scrollbar-thumb {
  border-radius: var(--primary-border-radius);
  box-shadow: inset 0 0 0.5rem black, inset 0 0 0.5rem black,
    inset 0 0 0.5rem black;
}
div.sidebar-container::-webkit-scrollbar-thumb:hover {
  background: black;
}
.sidebar-container > .routes {
  display: block;
  text-decoration: none;
  padding-inline: 0.5rem;
  color: var(--secondary-font-color);
  position: relative;
  border-radius: var(--primary-border-radius);
  backdrop-filter: blur(0.7rem);
  cursor: pointer;
  font-size: var(--secondary-font-size);
  font-weight: var(--secondary-font-weight);
  width: 100%;
}
.routes::after {
  border-radius: var(--primary-border-radius);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
  height: 10%;
  background-color: currentColor;
  transform: translateX(7%) scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}
.routes:hover {
  font-weight: 800;
}
.routes:hover::after {
  transform: translateX(7%) scaleX(1);
}
/* Main Area ------------------------------------------------------------------ */
.main {
  overflow: hidden;
  box-shadow: 0rem 0rem 0.5rem black;
  position: absolute;
  right: 2.5%;
  height: 95dvh;
  width: 72%;
  background-color: #ccb86a7d;
  border-radius: var(--primary-border-radius);
  display: flex;
  flex-direction: column;
  transition: width 0.1s ease-out;
}
.main.full-screen {
  width: 95%;
}
/* Main Area header ---------------------------- */
.main .header {
  overflow: hidden;
  background-color: #00000017;
  border-bottom: 0.2rem double whitesmoke;
  border-radius: var(--primary-border-radius);
  max-width: 100%;
  min-width: 100%;
  min-height: min(23%, 4.5rem);
  max-height: min(23%, 4.5rem);
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  justify-content: space-between;
  container-type: input-inline;
}
.header > .menu-icon,
.header > a {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: min(3rem, 75%);
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
}
.header > .menu-icon:hover,
.header > a:hover {
  transform: scale(1.3);
}
.header > .menu-icon {
  visibility: hidden;
  cursor: pointer;
  background-image: url("../image/ham_burger_icon.png");
}
.menu-icon.menu-icon-visible {
  border-radius: none;
  visibility: visible;
}
.header .heading {
  font-family: "Tilt Prism", cursive, serif;
  color: var(--heading-color);
  text-decoration: underline;
  text-decoration-style: dotted;
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  background: linear-gradient(to right, #870000, #190a05);
  background: linear-gradient(to right, #780206, #061161);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header > a {
  border-radius: none;
  height: 50%;
  aspect-ratio: 1/1;
}
.header > a > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--primary-border-radius);
}
/* Main Area Email Alert ----------------------------- */
.email-alert {
  background-color: #fff3cd50;
  font-size: min(1rem, 2.4cqi);
  color: var(--primary-font-color);
  border-radius: var(--primary-border-radius);
  font-weight: var(--primary-font-weight);
  width: 100%;
  border: 0.1rem solid black;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.email-alert > p > a {
  font-weight: var(--primary-font-weight);
  color: green;
  text-decoration-color: #780210;
}
/* Main Area Content --------------------------------- */
.main > .main-content {
  width: 100%;
  flex-basis: 100%;
  overflow: auto;
}
div.main-content::-webkit-scrollbar {
  width: 1vw;
}
div.main-content::-webkit-scrollbar-track {
  border-radius: var(--primary-border-radius);
  background: transparent;
}
div.main-content::-webkit-scrollbar-track-piece:start {
  margin: 1vh;
}
div.main-content::-webkit-scrollbar-track-piece:end {
  margin: 0.8rem;
}
div.main-content::-webkit-scrollbar-thumb {
  border-radius: var(--primary-border-radius);
  box-shadow: inset 0 0 0.5rem black, inset 0 0 0.5rem black,
    inset 0 0 0.5rem black;
}
div.main-content::-webkit-scrollbar-thumb:hover {
  background: black;
}

/* Media Quries ================================================= */
@media screen and (max-width: 900px) {
  body {
    --secondary-font-size: 2rem;
  }
  /* Sidebar -------------------------------- */
  .sidebar,
  .sidebar.sidebar-hidden {
    opacity: 0;
    width: 95%;
    top: 0;
    transform-origin: top;
    transform: scaleY(0.01);
    transition: transform 0.2s ease-in;
    background-color: #00000090;
    backdrop-filter: blur(10px);
    box-shadow: 0.2rem 0.2rem 0.5rem black inset, 0.2rem 0.2rem 1rem black inset;
  }
  .sidebar.sidebar-visible {
    opacity: 1;
    z-index: 10;
    margin-top: 2.5dvh;
    transform: scaleY(1);
  }
  .sidebar .sidebar-container {
    padding-bottom: 2%;
    margin-bottom: 2%;
  }
  .sidebar-container > .routes {
    width: 97%;
    box-shadow: 0.1rem 0.1rem 0.2rem white;
  }
  /* Main Area ------------------------------- */
  .main {
    width: 95%;
  }
  .header > .menu-icon {
    visibility: visible;
  }
  .routes::after {
    visibility: hidden;
  }
}
