* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  --secondary-font-color: white;
  --primary-font-size: 1.1rem;
}
/* Pop up message ------------------------------------------------------------ */
.pop-up-message {
  min-height: 100dvh;
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  z-index: 10;
  backdrop-filter: blur(20px);
  background-color: #00000070;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  padding-block: 5rem;
  visibility: hidden;
}
div.pop-up-message::-webkit-scrollbar {
  width: 1vw;
}
div.pop-up-message::-webkit-scrollbar-track {
  background: transparent;
}
div.pop-up-message::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.pop-up-message.visible {
  visibility: visible;
}
.pop-up-message .message-box {
  height: fit-content;
  border: 0.3rem double white;
  width: min(90%, 250px);
  background-color: #00539cff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 1rem black;
}
.message-box > * {
  font-weight: 700;
  color: white;
  text-align: center;
  margin-block: 1rem;
}
.message-box > button {
  background-color: rgba(255, 0, 0, 0.733);
  visibility: hidden;
}
.message-box > button:hover {
  background-color: red;
}
/* Main container ----------------------------------------------------------- */
.main-container {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #00539cff;
  padding-block: 5rem;
}
.main-container form {
  background-color: #eea47fff;
  border: 0.3rem double white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  color: #00539cff;
  font-weight: 700;
  padding-block: 1rem;
}
form > h2 {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-align: center;
}
.input-box {
  position: relative;
  margin-block: 30px;
  width: 90%;
  border-bottom: 0.3rem double #fff;
  display: flex;
  justify-content: center;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: var(--primary-font-size);
  pointer-events: none;
  transition: 0.5s;
}
input:focus + label,
input:valid + label {
  top: -15px;
}
.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
}
.input-box ion-icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  top: 20px;
}
button {
  margin: auto;
  width: 70%;
  height: 40px;
  border-radius: 40px;
  color: var(--secondary-font-color);
  background: #ff5e0040;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
button:hover {
  background: #ff5e0080;
}
